<h1>Plots</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <p>Plot number: <%= plot.number %></p>
      <ol>
        <% plot.plants.each do |plant| %>
          <li> <%= plant.name %> <%= link_to "Remove #{plant.name}", plot_plant_path(@plot_path.find_plot_plant(plant.id, plot.id).id), method: 'delete', local: true %> </li>
        <% end %>
      </ol>
  </div>
<% end %>
